* {  /* enelver toutes les marges intérieurs et ext des éléments */
    margin:0; 
    padding: 0;
    box-sizing: border-box;

}
body {
    font-size: 100%;
}
body {
  line-height: 1.5;
}
header {
    position : relative; 
    height: 100vh;
    width: 100%; 
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
}

#section1 {
    position: absolute; 
    top:0; 
    left:0; 
    height:50%; 
    width: 100%;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/bat.jpg);
    background-color: rgb(39, 107, 174);
   
}
.section1_partition1{
    position: relative;
}
.partition1_head{
    position: relative; 
    height: auto; 
    width: 100%; 
    background-color: transparent;
    display: flex; 
    justify-content: space-between


}
.img{
    height:30px; 
    width: 125px; 
    transform: translateY(10px); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    background-image: url(images/logo.png);
}
nav{ /* les liens */
    display: flex; 
    justify-content: center;
    transform: translateX(40px);
    align-items: flex-start;
    text-align: center;
}
nav ul{
    justify-content: center;
    align-items: center;
    gap:10px; 
    list-style-type: none;
    transform: translateX(-40px);

}
nav ul li a{
    display: block; 
    font-size: 1rem;
    font-weight: bolder;
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(214, 214, 228); 
    transition: all .3s ease; 
}
nav ul li a:hover{
    background-color:rgb(170, 212, 255) ;
    color: black;
}
.welcom_mess{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    color: transparent;
    -webkit-text-stroke: 2px white;
    cursor: pointer; 
    transition: all .3s ease; 
}
.welcom_mess:hover{
    color: white; 
    -webkit-text-stroke: 0;

}
.section1_partition2{
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat; 
    background-color: rgb(39, 107, 174);
   
}
.carte-container{
    height:80%; 
    width: 60%;
    display: grid; 
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr ;
    gap:10px; 

}
.carte{
    display:grid; 
    padding: 5px;
    grid-template-rows: 4fr 1fr ;
    background-color: rgb(62, 165, 255);
    border-radius: 10px;
}
.carte_img{
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
h3{
    text-align: center;
    padding-top: 80%;
    font-size: 1.2rem;
    font-weight: bolder;
    text-decoration: none;
    font-family: sans-serif;
    color: white;
}
h3:hover{
    color: black;
}
.section1_partition3{
    position: relative;
    width : 100%; 
    height: 100%;
    justify-content: center;
    display: flex; 
    background-size: cover;
    background-repeat: no-repeat; 
    background-color: rgb(120, 188, 255);
}
table{

    align-content: center;
}
caption{
    font-size: 1.2rem;
    font-weight: bolder;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
}
td{
    border : 1px solid rgb(0,60,112) ;
    align-items:center; 
    text-align: center;
    color: black;
    height:80px; 
    width:100px; 
}
input{
    border-radius: 20px;
    border: 1px solid rgb(0, 60, 112);
    background-color: rgb(0, 60, 112);
    color: #FFFFFF;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    outline: none;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
input:hover {
    transform: scale(0.95);
    background-color: white;
    color: rgb(0,60,112);
    cursor:grab;
}
.section1_partition4{
    position: relative;
    width : 100%; 
    height: 100%;
    justify-content: center;
    display: flex; 
    background-size:auto;
    background-repeat: no-repeat; 
    background-color: rgb(173, 214, 255);
}
h2{
    font-size: 1.2rem;
    font-weight: bolder;
    text-decoration: none;
    font-family: sans-serif;
    color: black; 
}
#carrousel{
    position: relative; 
    height: 200px; 
    width: 700px; 
    margin: auto; 
    
}
#carrousel ul li{
    position: absolute; 
    top:0; 
    left:0; 
}










