* {  /* enelver toutes les marges intérieurs et ext des éléments */
    margin:0; 
    padding: 0;
    box-sizing: border-box;

}
header {
    position : relative; 
    height: 100vh;
    width: 100%; 
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
}

#section1 {
    position: absolute; 
    top:0; 
    left:0; 
    height:50%; 
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/bat.jpg);
    background-color: rgb(39, 107, 174);
   
}
.section1_partition1{
    position: relative;
}
.partition1_head{
    position: relative; 
    height: auto; 
    width: 100%; 
    background-color: transparent;
    display: flex; 
    justify-content: space-between


}
.img{
    height:30px; 
    width: 125px; 
    transform: translateY(10px); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    background-image: url(images/logo.png);
}
nav{ /* les liens */
    display: flex; 
    justify-content: center;
    transform: translateX(40px);
    align-items: flex-start;
    text-align: center;
}
nav ul{
    justify-content: center;
    align-items: center;
    gap:10px; 
    list-style-type: none;
    transform: translateX(-40px);

}
nav ul li a{
    font-size: 1.2rem;
    font-weight: bolder;
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(214, 214, 228); 
    transition: all .3s ease; 
}
nav ul li a:hover{
    background-color:rgb(170, 212, 255) ;
    color: black;
}
.welcom_mess{
    font-size: 10rem;
    color: transparent;
    transform: translateX(13%);  
    -webkit-text-stroke: 2px white;
    cursor: pointer; 
    transition: all .3s ease; 
}
.welcom_mess:hover{
    color: white; 
    -webkit-text-stroke: 0;

}
.section1_partition2{
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat; 
    background-color: rgb(39, 107, 174);
   
}
.carte-container{
    height:80%; 
    width: 60%;
    display: grid; 
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr ;
    gap:10px; 

}
.carte{
    display:grid; 
    padding: 5px;
    grid-template-rows: 4fr 1fr ;
    background-color: rgb(62, 165, 255);
    border-radius: 10px;
}
.carte_img{
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
h3{
    text-align: center;
    padding-top: 80%;
    font-size: 1.2rem;
    font-weight: bolder;
    text-decoration: none;
    font-family: sans-serif;
    color: white;
}
h3:hover{
    color: black;
}
.section1_partition3{
    width: 60%;
    height: 80%;
    background-color: rgb(118,118,118);
    box-shadow: 0 0 10px rgb(0,0,0,0.3);

}
#enteteCalendar{
    width: 100%;
    height: 18%;
    background-color: rgb(124,124,124);
    display: flex; 
    flex-direction: column;
}
#calendar {
    width: 100%;
    height: 66.666%;
    color: white; 
    margin:0; 
    display:flex; 
    justify-content: center;
    align-items: center;
}
#avantEtapres{
width: 100%;
height: 33.333%;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(60,60,60);
}
.calendarBT{
    width: 40%;
    height: 100%;
    border: none; 
    background-color: rgb(90,90,90);
    color:white; 
    outline:none; 
    transition:0.2s; 
}
.calendarBT:hover{
    color: rgb(75,75,75);
}
#cldBoite{
    width: 100%; 
    height:82%;
    background-color: rgb(143,143,143);
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}
#jours {
    width: 100%;
    height:10%; 
    display: flex; 
    justify-content:center; 
    align-items: center;
}
.jour {
    width: 100%;
    height:100%; 
    display: flex; 
    justify-content:center; 
    align-items: center;
    color: white; 
    margin: 0;
    font-size: 10px;
}
.semaine{
    width: 100%;
    height:100%; 
    display: flex; 
    justify-content:center; 
    align-items: center;
}
.case{
    width: 100%;
    height:100%; 
    display: flex; 
    justify-content:center; 
    align-items: center;
    color: white; 
    margin: 0;
    font-size: 10px;
}
.case:hover{
    background-color: rgb(110,110,110);
}










