* {  /* enelver toutes les marges intérieurs et ext des éléments */
    box-sizing: border-box;

}
body {
    padding: 10px;
    font-size: 100%;
    background-color:rgb(168, 212, 255); 
}
.img{
    margin-top: -190px;
    margin-left: -200px;
    float: left;
    position: relative; 
    background-color: transparent;
    display: flex; 
    justify-content: space-between; 
    height:35px; 
    width: 140px; 
    transform: translateY(0px); 
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat; 
    background-image: url(../images/logo.png);
}
.welcom_mess{
    font-size: 8rem;
    transform: translate(3%, -50%);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center; 
    font-family:sans-serif;
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke: 3px white;
    cursor: pointer; 
    transition: all .3s ease; 
}
.welcom_mess:hover{
    color:rgb(255, 253, 241); 
    -webkit-text-stroke: 0;

}
.Hello {
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    color :rgb(0, 60, 112); 
    text-shadow: 2px 2px white;
}
nav{ /* les liens */
    display: flex; 
    justify-content: center;
    transform: translateX(40px);
    align-items: flex-start;
    text-align: center;
}
.nav{
    overflow: hidden; 
    background-color: rgb(39, 107, 174);
}
.nav a{
 float: left;
 display: block;
 color: aliceblue;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-family: sans-serif;
 font-size: 1.2rem;
 font-weight: bolder;
}
.nav a:hover{
    background-color:rgb(170, 212, 255) ;
    color: black;
}
table{
    align-content: center;
    width: 100%;
    padding: 20px;
}
td{
    border : 1px solid rgb(0,60,112) ;
    align-items:center; 
    text-align: center;
    color: black;
    height:80px; 
    width:100px; 
}
input{
    border-radius: 20px;
    border: 1px solid rgb(0, 60, 112);
    background-color: rgb(0, 60, 112);
    color: #FFFFFF;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    outline: none;
    text-transform: none;
    transition: transform 80ms ease-in;
}
input:hover {
    transform: scale(0.95);
    background-color: white;
    color: rgb(0,60,112);
    cursor:grab;
}
.carte-container{
    height: 80%;
    width: 100%;
    display: grid; 
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr ;
    gap:10px; 

}
.carte{
    display:grid; 
    grid-template-rows: 4fr 1fr ;
    background-color: rgb(0,60,112);
    border-radius: 10px;
}
.carte_img{
    background-size: cover;
    background-repeat: no-repeat;
}
.row::after{
    content:""; 
    display:table; 
    clear:both;
    
}
.leftcolumn{
    float: left; 
    width:75%; 
}
.rightcolumn {
    float: left;
    width: 25%; 
    padding-left: 20px;
}
h2{
    font-size: 1.2rem;
    font-weight: bolder;
    text-decoration: none;
    font-family: sans-serif;
    color: black; 
    text-align: center;
}
.header{
    padding: 200px;
    text-align: center;
    background: white; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:-270px;
    background-image: url(../images/bat.jpg);
}
.header h1 {
    font-size: 50px;
  }
.sideblocks{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
background-color: rgb(219, 242, 255);
padding: 60px; 
margin-top: 20px;
color:black;
}
.fakeimg {
    background-color: rgb(161, 209, 224);
    background-size: cover;
    padding: 10px;
    
  }
  .footer{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
color: white;
padding: 20px;
text-align: center;
margin-top: 20px;
background-color: rgb(39, 73, 125);
}
h3{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bolder;
    text-decoration: none;
    font-family: sans-serif;
    color: white;
}
a[href^='mailto']::before {
    content: '📧 ';
}

a[href^='tel']::before {
    content: '📞 ';
}
ul li a{
    color: white;
    text-decoration: none;
}
.carte_img h3{
    text-decoration: none;
}
.carte_img h3:hover{
    color: black;
}
@media screen and (max-width:800px){
    .leftcolumn, .rightcolumn{
        width:100%; 
        padding: 0;
    }
} 

.casier{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 90%;
}

.casier-container{
    background-color: rgb(40, 107, 175);
    width: 100%;
    height: fit-content;
    text-decoration:none;
    color: antiquewhite;
    background-color: rgb(40, 107, 175);
    margin: 20px;
    text-align: center;
    text-justify:left;
    display: grid;
    border-radius: 10px;
    flex-direction: row;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    transition: all .3s ease;
}

.casier-container-img {
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;;
    margin: 0px;
    padding: 0px;
    justify-items: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: rgb(40, 107, 175);
    overflow: hidden;
}

.casier-container:hover{

    background-color: rgb(62, 165, 255);
    color: white;
}

.casier-titre{
    grid-column: 1 / span 4;
    font-size: 1.2rem;
    font-weight: bolder;
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    justify-items: left;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: all .3s ease;
}

.casier-titre:hover{
    color: black;
}

.casier-titre a{
    text-decoration: none;
    color: white;
    transition: all .3s ease;
}

.casier-titre a:hover{
    color: black;
}

.competence-casier{
    position: relative;
    justify-content: left;
    align-items: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 90%;
}

.competence-casier-container--1{
    background-color: rgb(180, 180, 180);
    width: 90%;
    text-decoration: none;
    text-size-adjust: 20px;
    height:auto;
    text-decoration:none;
    color: rgb(0, 0, 0);
    margin: 20px;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    padding: 20px;
    gap: 10px;
    border-width: 10px;
    border-color: black;
}

.competence-casier-container-0 {
    background-color: rgb(255, 63, 63);
    width: 90%;
    text-decoration: none;
    text-size-adjust: 20px;
    height:auto;
    text-decoration:none;
    color: rgb(0, 0, 0);
    margin: 20px;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    padding: 20px;
    gap: 10px;
    border-width: 10px;
    border-color: black;
}

.competence-casier-container-1 {
    background-color: rgb(255, 151, 32);
    width: 90%;
    text-decoration: none;
    text-size-adjust: 20px;
    height:auto;
    text-decoration:none;
    color: rgb(0, 0, 0);
    margin: 20px;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    padding: 20px;
    gap: 10px;
    border-width: 10px;
    border-color: black;
}

.competence-casier-container-2 {
    background-color: rgb(219, 219, 0);
    width: 90%;
    text-decoration: none;
    text-size-adjust: 20px;
    height:auto;
    text-decoration:none;
    color: rgb(0, 0, 0);
    margin: 20px;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    padding: 20px;
    gap: 10px;
    border-width: 10px;
    border-color: black;
}

.competence-casier-container-3 {
    background-color: rgb(0, 155, 0);
    width: 90%;
    text-decoration: none;
    text-size-adjust: 20px;
    height:auto;
    text-decoration:none;
    color: rgb(0, 0, 0);
    margin: 20px;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    padding: 20px;
    gap: 10px;
    border-width: 10px;
    border-color: black;
}

.competence-casier-container-title h1{
    grid-column: 1 / span 4;
    font-size: 2.2rem;
    font-weight:bolder;
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    justify-items: left;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.competence-casier-container-corps p{
    grid-column: 1 / span 4;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    justify-items: left;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.competence-casier-container-button{
    width: max-content;
    height: max-content;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: bolder;
    text-decoration: none;
    font-family: sans-serif;
    justify-items: center;
    justify-self: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: all .3s ease;
}
.competence-casier-container-button a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all .3s ease;
}



.competence-casier-container-button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}



.competence-casier-container-button a:hover{
    color: rgb(255, 255, 255);
}

.casier-compte{
    margin-top:70px; 
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 107, 174);
    color: rgb(0, 0, 0);
    width: 90%;
    text-decoration: none;
    text-size-adjust: 20px;
    height:auto;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
}

.casier-compte h1{
    font-size: 2.2rem;
    font-weight: bolder;
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    justify-items: left;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.casier-compte p{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    justify-items: left;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.casier-compte-button{
    width: max-content;
    height: max-content;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: bolder;
    text-decoration: none;
    font-family: sans-serif;
    justify-items: center;
    justify-self: center;
    text-align: center;
    border-radius: 20px;
    transition: all .3s ease;
}

.casier-compte-place-buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bolder;
    text-decoration: none;
    font-family: sans-serif;
    transition: all .3s ease;
}

.casier-compte-button a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all .3s ease;
}

.casier-compte-button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.casier-compte-button a:hover{
    color: rgb(255, 255, 255);
}

.casier-compte-button p{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all .3s ease;
}

.casier-compte-button p:hover{
    color: rgb(255, 255, 255);
}

button{
    width: max-content;
    height: max-content;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 1.2rem;
    font-weight: bolder;
    text-decoration: none;
    font-family: sans-serif;
    justify-items: center;
    justify-self: center;
    text-align: center;
    border-radius: 20px;
    transition: all .3s ease;
}

button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

button a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all .3s ease;
}

button a:hover{
    color: rgb(255, 255, 255);
}
.head {
    text-align: center;
    background-color: rgb(39, 73, 125) ;
    padding: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }
    .head h1{
        font-family: sans-serif;
        color: white;
        font-size: 3rem;
    }
    .head button{
        border-radius: 20px;
        border: 1px solid white;
        background-color: rgb(227, 245, 255);
        color: rgb(0, 60, 112);
        font-weight: bold;
        padding: 8px 20px;
        letter-spacing: 1px;
        outline: none;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        float:right; 
        margin-top: -80px;
    
    }
    .head button:hover{
        transform: scale(0.95);
        background-color: white;
        color: rgb(0,60,112);
        cursor:grab;
    }